<% include ../layout/headeradmin %>




 


    <button  onclick="openForm2() " style=float:right>add</button>

    <div class="form-popup" id="myForm2" style="display:none">
      <form action="/admin/books" method="POST" class="form-container">
        <h1>Add Book</h1>
    
        <label for="Books"><b>Book Name</b></label>
        <input type="text" placeholder="Enter Book Name" name="newBookname" required>

        <label for="Books"><b>Category</b></label>
        <input type="text" placeholder="Enter Category" name="newBookcategory" required>

        <label for="Books"><b>Author</b></label>
        <input type="text" placeholder="Enter Author" name="newBookauthor" required>


        <label for="Books"><b>Image</b></label>
        <input type="text" placeholder="Enter Image" name="newBookimage" required>
    
        <button  class="btn" >Add Book</button>
      </form>
    </div>

    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Photo</th>
        <th>Name</th>
        <th>CategoryID</th>
        <th>AutherID</th>
        <th>Actions</th>
        </tr>
        
       
        <% books.forEach((book) => { %>
          <tr>
              <td>
                  <%= book._id %>
              </td>
              <td>
                  <%= book.image %>
              </td>
              <td>
                <%= book.name %>
            </td>
            <td>
              <%= book.categoryid %>
          </td>
          <td>
            <%= book.authorid %>
        </td>
              <td>
                    <a onclick="window.location.href = '/admin/books/<%= book._id %>/deleteBook'" value='<%= book._id%>'>delete</a>                 
      
              </td>
          </tr>
          <% })%>
   
    </table>
<script>
function openForm1() {
  document.getElementById("myForm1").style.display = "block";
}
function openForm2() {
  document.getElementById("myForm2").style.display = "block";
}
function closeForm1() {
  document.getElementById("myForm1").style.display = "none";
}
function closeForm2() {
  document.getElementById("myForm2").style.display = "none";
}
</script>
