<% include ../layout/headeradmin %>

<button  onclick="window.location.href='/admin/books/addbooks'" style=float:right>add</button>



    <!-- <button  onclick="openForm2() " style=float:right>add</button> -->

    <!-- <div class="form-popup" id="myForm2" style="display:none">
      
      <form method="POST" action="/admin/books"class="form-container">
        <h1>Add Book</h1>
    
        <label for="Books"><b>Book Name</b></label>
        <input type="text" placeholder="Enter Book Name" name="name" required>

        
        <label for="Books"><b>Author</b></label>
        
          
            <select name="authors" id="books">
                <% authors.forEach((author) => { %>
                <option value=<%= author.first_name %>> <%= author.first_name %> </option>
                  <% })%>
            </select>
            <select name="categories" id="category">
                <% categories.forEach((category) => { %>
                <option value=<%= category.name %>> <%= category.name %> </option>
                  <% })%>
            </select>
            
        
        

        <label for="Books"><b>Image</b></label>
        <input type="text" placeholder="Enter Image" name="image" required>
    
        <input  class="btn" type="submit" value="Add Book" >
        <button class="btn" onclick=closeForm2()>close</button>
      </form>
    </div> -->

    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Photo</th>
        <th>Name</th>
        <th>CategoryID</th>
        <th>AutherID</th>
        <th>Actions</th>
        </tr>
        
       
        <% books.forEach((book) => { %>
          <tr>
              <td>
                  <%= book._id %>
              </td>
              <td>
                  <%= book.image %>
              </td>
              <td>
                <%= book.name %>
            </td>
            <td>
              <%= book.categoryId %>
          </td>
          <td>
            <%= book.authorId %>
        </td>
              <td>
                    <a onclick="window.location.href = '/admin/books/<%= book._id %>/deleteBook'" value='<%= book._id%>'>delete</a>                 
      
              </td>
          </tr>
          <% })%>
   
    </table>
<script>
function openForm1() {
  document.getElementById("myForm1").style.display = "block";
}
function openForm2() {
  document.getElementById("myForm2").style.display = "block";
}
function closeForm1() {
  document.getElementById("myForm1").style.display = "none";
}
function closeForm2() {
  document.getElementById("myForm2").style.display = "none";
}
</script>
